/*csslint ids: false, box-model: false*/

/*=================================================
General
==================================================*/

a {
    padding-top: 100px; 
    text-decoration: none;
}

body {
    font-family: 'Exo', sans-serif;
}

#wrapper {
    background-color: indigo;
    /* max-width is related to width. But instead of width, max width that it can be smaller  for mobile devices/tablet */   
    /* Margin 0 is for all sides */
    margin: auto;
    max-width: 900px;
    /* Values first one is top and bottom. Second one is left and right */
    padding-left: 15px;
    padding-right: 15px;
    
    
/*    text-align: center;*/
}
#wrapper .bio {
    text-align: center;
}



img {
 max-width: 100%;   
}

h3 {
 margin: 0 0 1em 0;   
}


/*=================================================
Header
=================================================*/
header {
 float: left;
 margin: 0 0 30px 0;
 padding: 5px 0 0 0;
 width: 100%;
}

#logo {
    margin: 0;
    /* Our name and description of who we are. */
    text-align: center;
    
}

h1 {
    color: #0F09D6;
    font-family: 'Exo', sans-serif;
    font-size: 3em;
    margin: 15px 0;
   
}

h2 {
    color: #0F09D6;
    font-family: 'Exo', sans-serif;
    font-size: 2.25em;
    font-weight: normal;
    /* First value is for top. Second value is for left and right. Third value is for bottom. */
    margin: -5px 0 0;
}


/*=================================================
Navigation
==================================================*/

nav {
    margin: 20px 0 0;
    padding: 10px 0;
    text-align: center;
}

nav ul {
 font-size: 1.25em;
 list-style: none;
 margin: 0 10px;
 padding: 10px;
}

nav li {
 display: inline-block;
}

nav a {
 font-weight: 500;
 padding: 15px 10px;
 
}

/*=================================================
Footer
==================================================*/

footer {
    clear: both;
    color: grey;
    font-size: 2.25em;
    padding-top: 50px;
    text-align: center;
    
}

footer p {
    font-size: .5em;
}

.social {
    height: 20px;
    margin: 0 5px;
    width: 20px;
}


/*=================================================
Page Portfolio
==================================================*/

#gallery {
    list-style: none;
    margin: 0;
    padding: 0;
}

#gallery li {
    background-color:blueviolet;
    float: left;
    margin: 2.5%;
    width: 25%;
    
}

#gallery li a p {
 color: white;
 font-size: 1.25em;
 margin: 0;
 padding: 5%;
}

#gallery li a img {
 width: 200;   
}


/*=================================================
About Me Page
==================================================*/

.profile-photo {
 border-radius: 15%;
 display: block;
 float: left;
 max-width: 1000px;
}
    
/*=================================================
Contact Page
==================================================*/
 
/*
.contact-info a {
 background-size: 307px 230px;
 background-repeat: no-repeat;
 display: block;
 margin: 0 0 10px;
 min-height: 20px;
 padding:  0 0 0 30px;
}

.contact-info li.mail a {
 background-image: url('../img/mail.png')
}
*/


 .contact {
/*  float: left;   */
  font-size: 17px;
 }

.mail a {
 color: white;
 font-size: 20px;
 text-decoration: underline;
}

.mail a:hover {
    color: darkgrey;
}

.form-horizontal {
    float: left;
}

/*=================================================
Colors
==================================================*/

body { 
    background-image: url(../img/petals.gif);
    background-size: cover;
    color: white;
    font-family: 'Exo', sans-serif;
}



header {
    background-image: url(../img/purple.jpg);
}

nav {
    background-color: #7A57B3;
    
}


/*Pseudo-Class*/

nav a,
nav a:visited {
    color: #fff;
}


nav a:hover {
    color: darkgrey;
}

p {
    color: gray;
}

/*=================================================
Media Querie
==================================================*/
/*Two column Layout*/

@media screen and (min-width: 480px){
#primary {
 float: left;
 width: 50%;
 }    
#secondary {
 float: right;
 width: 40%;
}
    
}

#gallery li{
 width: 30%;  
}

/*About Page*/
.profile-photo {
 float: left;
 margin: 0 5% 80px 0;
}

@media screen and (min-width: 660px){
 
/*Nav*/
/*
nav {
 background: none;
 float: left;
 font-size: 1em;
 margin-right: 5%;
 text-align: right;
 width: 45%;
}
*/
    
#logo {
 float: left;
 margin-bottom: 20px;
 margin-left: 5%;
 text-align: left;
 width: 45%;
 
}
    
}













